.header {
  width: 100%;
  max-width: 90rem;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 431px) and (max-width: 1024px) {
  .header {
    max-width: 64rem;
  }
}
@media (max-width: 430px) {
  .header {
    max-width: 26.875rem;
  }
}
.header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-inner .header-logo {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../images/logo.svg") no-repeat 50% 50%;
}
.header .header-inner .header-menu-list {
  display: flex;
  gap: 70px;
}
.header .header-inner .header-menu-list li a {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
}

.stack-container {
  width: 100%;
  max-width: 90rem;
  height: auto;
  margin: 0 auto;
}
.stack-container .stack-item-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.stack-container .stack-item-list .stack-item {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 12px;
  border: 1px solid #000;
}
.stack-container .stack-item-list .stack-item:hover {
  background-color: darkorchid;
}