.header {
  width: 100%;
  max-width: 90rem;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 431px) and (max-width: 1024px) {
  .header {
    max-width: 64rem;
  }
}
@media (max-width: 430px) {
  .header {
    max-width: 26.875rem;
  }
}
.header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-inner .header-logo {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../images/logo.svg") no-repeat 50% 50%;
}
.header .header-inner .header-menu-list {
  display: flex;
  gap: 70px;
}
.header .header-inner .header-menu-list li a {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
}

.stack-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.stack-container .stack-swiper {
  width: 100%;
  max-width: 45rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}
.stack-container .stack-swiper .swiper-slide {
  width: 200px;
  height: 300px;
}
.stack-container .stack-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.stack-container .stack-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.stack-container .stack-description .stack-title {
  display: block;
}
.stack-container .stack-description .stack-title p {
  font-size: 20px;
  font-weight: bold;
}
.stack-container .stack-description .stack-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.stack-container .stack-description .stack-content li {
  position: relative;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.025em;
}
.stack-container .stack-description .stack-content li::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
  top: calc(50% - 2px);
  left: 0;
}