@import './variables';

.header {
  width: 100%;
  max-width: rem(1440px);
  height: auto;
  margin: 0 auto;
  @include tablet {
    max-width: rem(1024px);
  }
  @include mobile {
    max-width: rem(430px);
  }
  & .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: 0 70px;
    & .header-logo {
      display: block;
      width: 50px;
      height: 50px;
      background: url('../../images/logo.svg') no-repeat 50% 50%;
    }
    & .header-menu-list {
      display: flex;
      gap: 70px;
      & li {
        & a {
          color: #000;
          font-size: rem(20px);
          font-weight: 500;
        }
      }
    }
  }
}
.stack-container {
  width: 100%;
  // max-width: rem(720px);
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  & .stack-swiper {
    width: 100%;
    max-width: rem(720px);
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0;
    & .swiper-slide {
      width: 200px;
      height: 300px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  & .stack-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    & .stack-title {
      display: block;
      & p {
        font-size: 20px;
        font-weight: bold;
      }
    }
    & .stack-content {
      display: flex;
      flex-direction: column;
      gap: 15px;
      position: relative;
      & li {
        position: relative;
        padding-left: 10px;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.025em;
      }
      & li::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #000;
        top: calc(50% - 2px);
        left: 0;
      }
    }
  }
}
