@font-face {
  font-family: 'Montserrat';
  src: url('./assets/styles/font/Montserrat-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/styles/font/Montserrat-ExtraLight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/styles/font/Montserrat-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/styles/font/Montserrat-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/styles/font/Montserrat-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/styles/font/Montserrat-MediumItalic.ttf') format('ttf');
  font-weight: 500;
  font-style: Italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/styles/font/Montserrat-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/styles/font/Montserrat-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/styles/font/Montserrat-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/styles/font/Montserrat-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
